.add-button
  background-color #e74c3c
  width 50px
  height 50px
  border-radius 50%
  position fixed
  bottom 50px
  right 50px
  color white
  border none
  box-shadow 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

.image
  width 100%
  margin-bottom 5px
